.advantages__wrapper h1, .advantages__wrapper h2, .advantages__wrapper h3, .advantages__wrapper p {
    line-height: 1.4;
    color: var(--grey-color);
}

.advantages__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding: 50px 0px;

}

.advantages__item p {
    padding: 15px;
}

.advantages__item-text-red {
    color: var(--primary-button-color)!important;
}

.about-us__header {
    color: var(--grey-color); 
}

.about-us__header h1 {
    font-size: var(--font-24px);
}

.about-us__header h2 {
    font-size: var(--font-16px);
    padding: 20px 0px;
}

.about-us__header p {
    font-size: var(--font-14px);
}

@media (min-width: 480px) {

}

@media (min-width: 780px) {
    .advantages__items {
        grid-template-columns: repeat(2, 1fr);   
    }
}

@media (min-width: 990px) {
    .advantages__items {
        grid-template-columns: repeat(4, 1fr);   
    }
}