* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--primary-text-color);
}

.container{
    max-width: 1200px;
    margin: auto;
}

img{
    height: 100%;
    width: 100%;
}


:root{
    --primary-background-color: #f5f4f0;
    --primary-text-color: black;
    --white-color: #fff;
    --primary-button-color: #bf0830;
    --section-background-color: #c65858;

    --font-14px: 14px;
    --font-18px: 18px;
    --font-10px: 10px;
}

body{
    background-color: var(--primary-background-color);
}