.header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--white-color);
}

.header__nav {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.header__top::before {
    content: '';
    display: block;
    height: 35px;
    width: 100%;
    background: url("../img/header/Header__sale.webp") no-repeat center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.menu__list li {
    padding: 10px 0px;
}

.menu__list a {
    font-size: var(--font-14px);
    text-align: center;
}

.menu__list a:hover {
    color: var(--primary-button-color);
    transition: all 0.5s;
    
}

.header__bottom {
    background-color: var(--section-background-color);
    display: flex;
}

.header__bottom-items {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 15px;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__search-bar {
    flex: 1;
    border-radius: 5px;
    display: none;
}

.header__panel img {
    height: 34px; 
    border: 1px solid var(--white-color);
    border-radius: 20px;
}

.header__panel img:nth-of-type(2) {
    height: 8px;
}

.header__panel {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__panel a:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

.header__panel-cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 20px;
    height: 20px    ;
    font-size: var(--font-10px);
    border-radius: 50%;
    background-color: var(--white-color);
    padding: 6px;
}

.header__panel-login {
    display: flex;
    gap: 8px;
}

.header__panel-login p {
    color: var(--white-color);
    display: none;
}

@media (min-width: 480px) {
    
}

@media (min-width: 780px) {
    .menu__list {
        flex-direction: row;
    }

    .header__search-bar, .header__panel-login p {
        display: block;
    }
}

@media (min-width: 990px) {
    .menu__list a {
        font-size: var(--font-18px);
    }
}